<% layout("\layouts/boilerplate") -%>

<section class="container my-5">
    <h1 class="text-center">Wishlisted Items</h1>
    <p class="text-center">Discover the products you love at a glance!</p>
    <div class="row mt-5" id="liked-items">
        <!-- Liked products will be inserted here -->
    </div>
    <hr>
</section>
